<% if current_user.already_good?(user) %>
  <div class="trust-length">
    <p class="trust-color">★ <%= user.good_users.length %></p>
    <div class="trust-info">
		  <p class="trust-info__text">TrustStarとは...<br>
      ユーザーからの信頼度です。<br>
      投稿者が信頼できると感じたら、<br>
      TrustStarを贈呈しよう！</p>
	  </div>
  </div>
  <%= link_to "TrustStar没収", delete_trusts_path(params: { tweet_user: user.id }), method: :delete, remote: true, data: {turbolinks: false} %>
<% else %>
  <div class="trust-length">
    <p class="trust-color">☆ <%= user.good_users.length %></p>
    <div class="trust-info">
		  <p class="trust-info__text">TrustStarとは...<br>
      ユーザーからの信頼度です。<br>
      投稿者が信頼できると感じたら、<br>
      TrustStarを贈呈しよう！</p>
	  </div>
  </div>
  <%= link_to "TrustStarを渡す", trusts_path(params: { tweet_user: user.id }), method: :post, remote: true, data: {turbolinks: false}  %>
<% end %>
