@mixin btn {
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  position: relative;
  a {
    text-decoration: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
  }
}