@media screen and (max-width: 479px) { 
  header {
    height: 100px;
    .logo-box {
      width: 75px;
      height: 75px;
      .logo-img {
        width: 75px;
        height: 75px;
      }
    }
    .header-right {
      .search-box {
        margin: 10px 20px 10px 20px;
        .area-search {
          height: 30px;
          width: 250px;
          font-size:12px;
        }
      }
      .mobile-menu-label {
        padding: 5px;
        font-weight: bold;
        border: solid 2px $black-color;
        position: absolute;
        right: 20px;
        cursor :pointer;
        &:hover {
          background: #FFFAF0;
        }
      }
      #mobile-user-menu {
        display: none;
      }
      #mobile-user-menu:checked + .header-right-under {
        padding: 10px 0;
        height: auto;
        opacity: 1;
        visibility: visible;
      }
      .header-right-under {
        margin-top: 37px;
        padding: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;
        transition: 0.8s;
        visibility: hidden;
        li {
          text-align: center;
          margin-right: 20px;
          background-color: #FFFAF0;
          border: solid 1px black;
          opacity: 0.8;
          position: relative;
          height: 50px;
          line-height: 50px;
          a {
            text-decoration: none;
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
          }
          p {
            display: inline-block;
          }
        }
      }
    }
  }
  

  .top-info-contents {
    margin: 0 auto;
    &__content {
      width: 80%;
      margin: 20px;
      h4 {
        font-weight: bold;
      }
    }
  }
  .top__heading__info {
    .top-link {
      a, i {
        text-decoration: underline;
      }
    }
  }
}
