@import "./mixin";

.right-content {
  padding: 40px 40px 0 40px;
  h2 {
    margin-bottom: 10px;
  }
}
.user-info {
  display: flex;
  margin-bottom: 10px;
  img {
    margin: 3px;
  }
  p {
    margin-left: 20px;
  }
}
.tweet-form {
  width: 95%;
  height: 5em;
  padding: 5px;
  margin-bottom: 10px;
}
.image-form {
  p {
    font-size: 12px;
  }
  img {
    width: 100%;
    height: 100%;
  }
  .image-prev-all {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    .image-prev {
      width: 30%;
      position: relative;
      margin: 3px;
      &:before {
        content: "";
        display: block;
        padding-top: 100%;
      }
      img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .image-delete {
        position: absolute;
        bottom: 3px;
        right: 3px;
        cursor: pointer;
        width: 40%;
      }
    }
  }
  .image-form-box {
    width: 100%;
    height: auto;
    margin-top: 10px;
    .image-upload:first {
      width: 100%;
      height: 100%;
    }
  }
}
.tweet-btn {
  height: 50px;
  margin-top: 10px;
  input {
    width: 40%;
    padding: 10px;
    border: solid 1px #fac559;
    background-color: #fac559;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      border: solid 1px #504946;
    }
  }
}
.login-info {
  text-align: center;
  .already-user {
    text-decoration: none;
    display: block;
    margin: 30px 0;
    font-size: 23px;
    color: #f39800;
    &:hover {
      color:#f6ae54;
      text-decoration: underline;
    }
  }
  .new-user {
    text-decoration: none;
    display: block;
    margin: 30px 0;
    color: #ea5532;
    font-size: 30px;
    &:hover {
      color:#ef857d;
      text-decoration: underline;
    }
  }
}

.tweet-area {
  padding: 40px 0 40px 40px;
  .jscroll {
    width: 100%;
  }
}
.one-tweet {
  box-sizing: border-box;
  display: flex;
  margin: 20px 0;
  padding: 10px;
  border: solid 1px #f2d58a;
  position: relative;
  img {
    height: 80px;
    width: 80px;
    margin: 3px;
  }
  .tweet-info {
    margin: 0 10px;
    width: calc(100% - 100px);
    word-wrap: break-word;
    .tweet-name {
      font-weight: bold;
    }
    .tweet-text {
      margin-bottom: 10px;
    }
    .tweet-time {
      font-size: 13px;
      position: absolute;
      bottom: 10px;
    }
    .tweet-image-box {
      width: 100%;
      height: auto;
      display: flex;
      margin-bottom: 35px;
      overflow: hidden;
      .tweet-image {
        width: 16%;
        height: auto;
        position: relative;
        margin: 0 .1em;
        &::before {
          content: "";
          display: block;
          padding: 50% 0 50% 0;
        }
        img {
          width: 100%;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
  .tweet-edit {
    position: absolute;
    right: 20px;
  }
}
#popup-background{
  position:fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background:#000;
  opacity: 0.60;
  margin: 0;
  padding: 0;
  z-index:100;
}
#popup-item{
  position:fixed;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  z-index:101;
}

nav.pagination {
  display: none;
}

.edit-content {
  margin: 20px auto;
  .edit-user-info {
    width: 50%;
    display: flex;
    margin: 0 auto;
    img {
      width:80px;
      height: 80px;
    }
    p {
      width: calc(100% - 80px);
      text-align: center;
      line-height: 80px;
    }
  }
  .edit-form {
    width: 100%;
    text-align: center;
    .edit-text {
      width: 80%;
      margin: 10px;
      height: 150px;
      padding: 10px;
    }
    .edit-image-form {
      margin: 20px 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      .one-image {
        width: 30%;
        margin: 3px;
        position: relative;
        &:before {
          content: "";
          display: block;
          padding-top: 100%;
        }  
        img {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        label {
          @include img-btn;
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: #fff; 
          width: 35%;
        }
        .already-image-delete {
          @include img-btn;
          background-color: #c9caca; 
          position: absolute;
          bottom: 0;
          right: 0;
          width: 35%;
        }
      }
    }
  }
}

.text-center {
  text-align: center;
}

@media screen and (min-width: 480px) {

  .right-content {
    width: 30%;
    float: right;
    .user-info {
      img {
        height: 80px;
        width: 80px;
      }
      p {
        line-height: 86px;
      }
    }
  }
  .tweet-btn {
    text-align: right;
  }
  .tweet-area {
    width: 55%;
  }  

  .edit-content {
    width: 50%;
  }

}