@import "./mixin";

.right-content {
  width: 30%;
  float: right;
  padding: 40px;
  .user-info {
    display: flex;
    margin-bottom: 10px;
    img {
      height: 80px;
      width: 80px;
      margin: 3px;
    }
    p {
      line-height: 86px;
      margin-left: 20px;
    }
  }
  .tweet-form {
    width: 95%;
    height: 150px;
    padding: 5px;
    margin-bottom: 10px;
  }
  .image-form {
    .image-prev-all {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .image-prev {
        width: 30%;
        position: relative;
        padding: 3px;
        img {
          width: 100%;
          height: 100%;
        }
        .image-delete {
          position: absolute;
          bottom: 3px;
          right: 3px;
        }
      }
    }
    .image-form-box {
      width: 100%;
      height: auto;
      margin-top: 10px;
      .image-upload:first {
        width: 100%;
        height: 100%;
      }
    }
  }
  .tweet-btn {
    text-align: right;
    height: 50px;
    margin-top: 10px;
    input {
      width: 40%;
      padding: 10px;
      border: solid 1px #fac559;
      background-color: #fac559;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        border: solid 1px #504946;
      }
    }
  }
  .login-info {
    text-align: center;
    .already-user {
      text-decoration: none;
      display: block;
      margin: 30px 0;
      font-size: 23px;
      color: #f39800;
      &:hover {
        color:#f6ae54;
        text-decoration: underline;
      }
    }
    .new-user {
      text-decoration: none;
      display: block;
      margin: 30px 0;
      color: #ea5532;
      font-size: 30px;
      &:hover {
        color:#ef857d;
        text-decoration: underline;
      }
    }
  }
}
.tweet-area {
  width: 55%;
  padding: 40px 0 40px 40px;
  .one-tweet {
    width: 100%;
    display: flex;
    margin: 20px 0;
    padding: 10px;
    border: solid 1px #f2d58a;
    position: relative;
    img {
      height: 80px;
      width: 80px;
      margin: 3px;
    }
    .tweet-info {
      margin: 0 10px;
      width: 100%;
      .tweet-name {
        font-weight: bold;
      }
      .tweet-text {
        margin-bottom: 10px;
      }
      .tweet-time {
        font-size: 13px;
        position: absolute;
        bottom: 10px;
      }
      .tweet-image-box {
        width: 100%;
        height: auto;
        display: flex;
        margin-bottom: 35px;
        .tweet-image {
          width: 16%;
          height: auto;
          position: relative;
          &::before {
            content: "";
            display: block;
            padding: 50% 0 50% 0;
          }
          img {
            width: 100%;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
  #popup-background{
    position:fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:#000;
    opacity: 0.60;
    margin: 0;
    padding: 0;
    z-index:100;
  }
  #popup-item{
    position:fixed;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    z-index:101;
  }
}