@import "./color";

.main {
  background-color: #fffff9;
  min-height: calc(100vh - 230px);
  overflow: hidden;
  .city-weather {
    .forecast-title {
      text-align: center;
    }
    .now-weather-information {
      width: 100%;
      text-align: center;
      display: flex;
      position: relative;
      box-sizing: border-box;
      .main-left {
        width: 35%;
        .discomfort {
          font-size: 45px;
        }
      }
      .main-center {
        width: 30%;
        .now-icon {
          height: 150px;
          width: 150px;
        }
      }
      .main-right {
        width: 35%;
      }
    }
  
    .weather-box {
      overflow-x: auto;
      white-space: nowrap;
      background-color: #fff8e1;
      border: dashed 3px $point-color;
      box-shadow: 0 0 0 10px #fff8e1;
      border-radius: 5px;
      padding: 1em;
      box-sizing: border-box;
      &__time-box {
        display:inline-block;
        text-align: center;
        vertical-align: top;
        .information {
          margin: 0 auto;
          display: inline-block;
          text-align: left;
        }
      }
    }    
  }
  .right-top {
    .tweet-result {
      width: 100%;
      max-height: 400px;
      overflow: scroll;
      padding: 3px;
      .more-tweets {
        text-align: right;
      }
    }
    .no-result {
      p {
        margin: 10px 0;
      }
    }
  }
  .right-under {
    .twitter {
      width: 100%;
      max-height: 400px;
      overflow: scroll;
      padding: 3px;
      margin-top: 8px;
    }

  }
}

.text-center {
  text-align: center;
  margin: 0 auto;
  display: block;
}

@media screen and (min-width: 480px) {
  .city-weather {
    float: left;
    width: 60%; 
    margin: 20px;
    .now-weather-information {
      padding: 20px 10px;
    }
    .weather-box {
      width: 93%;
      margin: 1em 10px;
    }
  }
  .right-top {
    width: 30%;
    float: left;
    margin: 20px;
  }
  .right-under {
    width: 30%;
    float: left;
    margin: 20px;
  }

}