
.now-weather-information {
  width: 60%;
  text-align: center;
  .now-icon {
    height: 150px;
    width: 150px;
  }
}

.weather-box {
  width: 60%;
  overflow-x: auto;
  white-space: nowrap;
  &__time-box {
    width:30%;
    display:inline-block;
    text-align: center;
    vertical-align: top;
    .information {
      margin: 0 auto;
      display: inline-block;
      text-align: left;
    }
  }
}

.text-center {
  text-align: center;
  margin: 0 auto;
  display: block;
}