<% unless flash[:notice].blank? && flash[:alert].blank? %>
  <div class="flash-message">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: key) %>
    <% end %>
  </div>
<% end %>